{{ include layoutTop }}
<div class="row">
  <div class="twelve columns">
    <img src="images/webCover.png" />
  </div>
</div>

<div class="row">
  <div class="ten columns">
    <h1>Set up badges for your course</h1>

    <p>Whether on campus or online, set up achievements for students to complete while taking your course.</p>    
    
	<form>
	<p>What is the name of your course?</p>
	<input placeholder="course name"><br>
	<br>
	<p>What broad subject does your course fall under?</p>
	  
    <select>
    <option value="linkedin">Programming</option>
	  <option value="facebook">Hardware</option>
	  <option value="twitter">Biological/Chemical</option>
	  <option value="foursquaree">History</option>
	  <option value="multiple">English</option>
	  <option value="multiple">Art</option>
	</select><br>
	<br>
	<p>Select a Social Media Platform to create a Badge for.</p>
     <select>
	  <option value="linkedin">LinkedIn</option>
	  <option value="facebook">Facebook</option>
	  <option value="twitter">Twitter</option>
	  <option value="foursquare">Foursquare</option>
	  <option value="multiple">Multiple Platforms</option>
	</select> <br>
	<br>
		<input type="checkbox" name="vehicle" value="Bike">FB Group Text Posts<br>
		<input type="checkbox" name="vehicle" value="Car">FB Group Likes<br>
		<input type="checkbox" name="vehicle" value="Car">FB Group Link Post<br>
		<input type="checkbox" name="vehicle" value="Car">Tweets<br>
		<input type="checkbox" name="vehicle" value="Car">ReTweets<br>
		<input type="checkbox" name="vehicle" value="Car">Tweet Links<br>
		<input type="checkbox" name="vehicle" value="Car">Foursquare Checkins<br>
		<input type="checkbox" name="vehicle" value="Car">Foursquare Group Checkins<br>
		<input type="checkbox" name="vehicle" value="Car">Foursquare Picture Checkins<br>
		
	<input placeholder="What is your name"> <br>
	
		<input type="radio" name="job" value="yes">Yes<br>
		<input type="radio" name="job" value="no">No
	<input id="callBack" type="submit" value="Submit">
	</form>
	<br>
    <br>

    
  </div>

</div>
{{ include layoutBottom }}
