{{ include layoutTop }}
<div class="row">
  <div class="twelve columns">
    <img src="images/webCover.png" />
  </div>
</div>

<div class="row">
  <div class="ten columns">
    <h1>Set Badge Criteria for Potential Candidates</h1>

    <p>Select Badges that Recruits should earn when applying to your company.</p>    
    

    <p>What mobile coding badge would you like to recruit for?</p>
    <form>
     <select>
	  <option value="linkedin">iOS</option>
	  <option value="facebook">Android</option>
	  <option value="twitter">Javascript</option>
	  <option value="foursquare">BlackBerry</option>
	  <option value="multiple">Windows 8</option>
	</select>
	<br>
	<br>
	<p>What business badges would you like to recruit for?</p>
	<select>
	  <option value="linkedin">Twitter</option>
	  <option value="facebook">Facebook</option>
	  <option value="twitter">LinkedIn</option>
	  <option value="foursquare">In-Person Events</option>
	  <option value="multiple">TV</option>
	  <option value="multiple">Radio</option>	
	</select>
	<br>
	<br>
	<input placeholder="What is your name?"> <br>
	<br> 
	<input placeholder="What is your email?"> <br>
	<br>
		
	<input id="callBack" type="submit" value="Submit">
	</form>
	<br>
    <br>

    
  </div>

</div>
{{ include layoutBottom }}
