{{ include layoutTop }}
<div class="row">
  <div class="twelve columns">
    <img src="images/headerclip.jpg" />
  </div>
</div>

<div class="row">
  <div class="ten columns">
    <h1>Set up badges for your residential or MOOC course</h1>

    <p>Set up achievements for students to complete while taking your course.</p>    
    

    <p>Select a Social Media Platform to create a Badge for.</p>

    
  </div>

</div>
{{ include layoutBottom }}
