{{ include layoutTop }}
<div class="row">
  <div class="twelve columns">
    <img src="images/webCover.png" />
  </div>
</div>

<div class="row">
  <div class="ten columns">
    <h1>Use Badges to Teach and Recruit</h1>

    <p>This is a website for educators and recruiters trafficing in student's knowledge</p>

    <p>Check out the tabs for either educator, recruiter, or student</p>

    
  </div>

</div>
{{ include layoutBottom }}
